.navigation-projetox {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	text-align: center;
}	

.welcome-projetox {
	background-image: url('../../img/banner/banner.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;	
	text-align: center;
}

.black-filter {
	margin:	0;
	background-color: rgba(125, 18, 188,0.8);
  	height: 100%;
  	width: 100%;
}

.about-projetox {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-around;
	padding: 20px;
}

.footer-projetox {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 30px;
}

@media (max-width: 1099px) {
	.about-projetox {
		flex-direction: column;
		align-items: center;
	}
}